@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>


<p>
 <br /> <br /> <br />   
 When I'm not reading or coding for this class, I like to live a pretty laid back life.
 Since its cold out, I stay inside and play EA NHL a little too much but I win a lot so that's pretty cool.
 Summertime is definitely my favorite season though because of all of the outdoor activities. I'm a pretty active person so
 I can partake in any sport, but recently since taking a golf class at OU, golf has my interest.
 Eventually I'd like to travel in life but that's after I make a lot of money =) 


</p>
