@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mike Calvert<br />
    17 Palmer Street<br />
    <abbr title="Phone">P:</abbr>
    440-346-1690
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:mc692617@ohio.edu">mc692617@ohio.edu</a><br />
</address>