@{
    ViewBag.Title = "My Contact Info";
}
<h2>@ViewBag.Title</h2>


<div class="well-lg" style="border-style:dashed">
    <h3>Mike Calvert's</h3>
    <strong>Phone Number:</strong> 440-346-1690 <br />
    <strong>Email:</strong> <a href="mailto:mc692617@ohio.edu">mc692617@ohio.edu</a>
    <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
    <br />
</div>
