@{
    ViewBag.Title = "Contact Info";
}
<h2>@ViewBag.Title.</h2>


<address>
    Mike Calvert<br />
    17 Palmer Street<br /> <br />
   
    <strong>Phone #</strong> 44zero -346 - 169zero <br />

    <strong>Email:</strong>   <a href="mailto:mc692617@ohio.edu">mc692617@ohio.edu</a><br />
</address>
